[Unit]
Description=Python TCP Socket Service
After=multi-user.target

[Service]
Type=simple
Restart=Always
ExecStart=/usr/bin/python3 /etc/tcp_script/tcp_socket.py

[Install]
WantedBy=multi-user.target